
.bg-login-image{
    background-image: url("https://www.redroundrobin.site/images/favicon.png");
    background-size: 250px;
    background-repeat: no-repeat;
    background-color: #C7C6D7;
}

.form-codice-tfa{
    text-align: center;
    font-size: 1.1rem !important;
}

.breadcrumb{
    background-color: transparent !important;
}

/*
    DataTable with centered pagination
 */

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    float: none !important;
    text-align: center !important;
}

.logic-id::before {
    content: '\0023';
    color: #7bb0ff;
}

.real-id::before {
    content: '\0040';
    color: #ff8362;
}
